<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

            </div>

            <div class="col-md-6">
                <div class="card" style="margin-top: 1rem;">
                    <div class="card-header" style="text-align: center;">
                        <!-- <img src="https://angular.io/assets/images/logos/angular/angular.png" alt="Logo not responding"> -->
                        <img src="../assets/img/school_logo.png" alt="โรงเรียนบึงมะลูวิทยา" class="responsive">
                        <div class="title-login">
                            <h3>ระบบจัดตั้งงบประมาณครุภัณฑ์</h3>
                        </div>
                        <hr>
                    </div>
                    <div class=" card-body ">
                        <!-- <form style="padding: 10px 20px;" [formGroup]="login"> -->
                        <form style="padding: 10px 20px;" [formGroup]="login">
                            <mat-form-field appearance="outline">
                                <mat-label>อีเมล</mat-label>
                                <input matInput placeholder="Enter your email" type="email" formControlName="email">
                                <!-- <button mat-button *ngIf="login.value.email" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                                    <mat-icon>close</mat-icon>
                                </button> -->
                                <!-- <mat-icon matSuffix *ngIf="!login.value.email">email</mat-icon> -->
                                <mat-icon matSuffix>email</mat-icon>
                                <!-- <mat-error *ngIf="login.get('email').invalid">รูปแบบอีเมลไม่ถูกต้อง</mat-error> -->
                                <mat-error *ngIf="login.value.email">รูปแบบอีเมลไม่ถุกต้อง</mat-error>
                                <mat-error *ngIf="login.value.email === ''">กรุณากรอกอีเมลแอเดรส</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error *ngIf="login.value.password === ''">กรุณากรอกรหัสผ่าน</mat-error>
                            </mat-form-field>

                            <!-- <mat-form-field appearance="outline">
                                <mat-label>รหัสผ่าน</mat-label>
                                <input matInput placeholder="Enter your password" type="password" formControlName="password">
                                <mat-icon matSuffix>password</mat-icon>
                            </mat-form-field> -->
                            <!-- <div class="forgot-password">
                                <a routerLink="/home">ลืมรหัสผ่าน ?</a>
                            </div> -->
                            <hr>
                            <div class="button-group">

                                <button mat-raised-button color="primary" [disabled]="login.invalid" (click)="onLogin()">เข้าสู่ระบบ</button>
                                <!-- <button mat-raised-button color="primary" v routerLink="/register">สมัครสมชิก</button> -->
                            </div>
                            <div class="register-block">
                                <!-- <a routerLink="/register">สมัครสมาชิก</a> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>
</div>