<div class="dialog">
    <h1 mat-dialog-title>แจ้งเตือน !</h1>
    <div mat-dialog-content>
        <p class="mat-body-1">{{ data?.message }}</p>
        <p class="mat-body-1">{{ data?.status }}</p>
        <!-- <p>Error</p> -->
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Okay</button>
    </div>
</div>

<!-- <h1 mat-dialog-title>Dialog with elements</h1>
<div mat-dialog-content>This dialog showcases the title, close, content and actions elements.</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div> -->