<table class="table table-hover">
    <thead class="thead-dark text-center">

        <th>รายการครุภัณฑ์ย่อย</th>
        <th>ราคาต่อหน่วย</th>
        <th>จำนวนหน่วย</th>
        <th>งบประมาณ</th>
        <th>แก้ไข</th>
        <th>ลบ</th>
    </thead>
    <tbody class="text-center">

        <tr>
            <td class="table-active"></td>
            <td class="table-active"></td>
            <td class="table-active"></td>
            <td class="table-active"></td>
            <td class="table-active">
                <!-- <button mat-raised-button color="primary" routerLink="/manageSubQuipment"><mat-icon></mat-icon></button> -->
            </td>
            <td class="table-active">
                <!-- <button mat-raised-button class="red" (click)="deleteEquipment()"><mat-icon></mat-icon></button> -->
            </td>

        </tr>
    </tbody>
</table>