<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="main-content" *ngIf="!isLoading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">

                <div class="card card-stats card-success">
                    <!-- <div class="card-header card-header-warning card-header-icon"> -->
                    <div class="card-header">
                        <!-- <div class="card-icon"> -->
                        <!-- <i class="material-icons">sync</i> -->
                        <!-- </div> -->
                        <p class="card-category">โครงการที่อยู่ระหว่างรอดำเนินการ</p>
                        <h3 class="card-title">{{ countPending }}
                            <small>โครงการ</small>
                        </h3>
                    </div>
                    <div class="card-footer" (click)="moreDetail(pendingEquipments)">
                        <div class="stats">
                            <i class="material-icons">forward</i>
                            <!-- <mat-icon>forward</mat-icon> -->
                            รายละเอียดเพิ่มเติม ...
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats card-warning">
                    <!-- <div class="card-header card-header-success card-header-icon"> -->
                    <div class="card-header">
                        <!-- <div class="card-icon">
                            <i class="material-icons">done_all</i>
                        </div> -->
                        <p class="card-category">โครงการที่ได้รับการอนุมัติ</p>
                        <h3 class="card-title">{{ countSuccess }}
                            <small>โครงการ</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats" (click)="moreDetail(successEquipments)">
                            <i class="material-icons">forward</i>
                            <!-- <mat-icon>forward</mat-icon> -->
                            รายละเอียดเพิ่มเติม ...
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats card-danger">
                    <!-- <div class="card-header card-header-danger card-header-icon"> -->
                    <div class="card-header">
                        <!-- <div class="card-icon">
                            <i class="material-icons">cancel_presentation</i>
                        </div> -->
                        <p class="card-category">โครงการที่ไม่ผ่านการอนุมัติ</p>
                        <h3 class="card-title">{{countFailed}}
                            <small>โครงการ</small>
                        </h3>
                    </div>
                    <div class="card-footer" (click)="moreDetail(failedEquipments)">
                        <div class="stats">
                            <i class="material-icons">forward</i>
                            <!-- <mat-icon>forward</mat-icon> -->
                            รายละเอียดเพิ่มเติม ...
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">-
                <mat-spinner *ngIf="isLoading"></mat-spinner>
                <div class="card" *ngIf="!isLoading">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">โครงการทั้งหมด</h4>
                        <p class="card-category">รายการโครงการทั้งหมดที่เสนอ (โครงการทั้งหมดจะเรียงลำดับจากข้อมูลล่าสุก่อน)
                        </p>
                    </div>
                    <div class="card-body table-responsive">
                        <div class="col-12">
                            <!-- <form>
                                <mat-form-field appearance="outline">
                                    <mat-label>ค้นหา</mat-label>
                                    <input matInput placeholder="ปี พ.ศ. | หมวดหมู่ | สถานะ" name="searchEquipment" [(ngModel)]="searchEquipment">
                                    <mat-icon matSuffix type="submit">search</mat-icon>
                                </mat-form-field>
                            </form> -->
                        </div>
                        <table class="table table-hover" *ngIf="!isLoading">
                            <thead class="text-center">
                                <th>ลำดับ</th>
                                <!-- <th>ประเภท</th> -->
                                <th>รายการ</th>
                                <th>งบประมาณ</th>
                                <th>จำนวนหน่วยที่จัดตั้ง</th>
                                <th>สถานะ</th>
                                <th></th>
                            </thead>
                            <tbody class="text-center">
                                <tr *ngFor="let allData of document | filter:searchEquipment index as i">
                                    <td>{{ i+1 }}</td>
                                    <!-- <td>{{ allData.typeEquipments }}</td> -->
                                    <td class="text-left">{{ allData.majorList }}</td>
                                    <td class="text-left">{{ allData.budget | number }}</td>
                                    <td>{{ allData.necessary }}</td>
                                    <td>{{ allData.status }}</td>
                                    <td *ngIf="allData.status === 'ผ่านการอนุมัติ'"><button mat-raised-button type="button" (click)="pdfGen(allData._id)">
                                            <mat-icon>insert_drive_file</mat-icon> PDF
                                        </button></td>
                                </tr>
                                <tr>
                                    <td colspan="12" class="text-center">
                                        <p class="info-text" *ngIf="document <= 0">ไม่มีข้อมูล</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <!-- <div class="chart-wrapper">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                      </canvas>
                    </div> -->
                    <div class="chart-container">
                        <chart aria-label="งบประมาณแต่ละกลุ่มสาระ ฯ" [type]="typeChart" [data]="dataChart" [options]="optionsChart"></chart>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <!-- <div class="chart-wrapper">
                        <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
                      </canvas>
                    </div> -->
                    <div class="chart-container">
                        <chart [type]="typeChart2" [data]="dataChart" [options]="optionsChart"></chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>